<form method='post' class='register' action="/signup">

    <div class='ur-form-row'>
        <div class="ur-form-grid ur-grid-1" style="width:48%; margin: auto;">
            <div data-field-id="user_login" class="ur-field-item field-user_login ">
                <div class="form-row validate-required" id="user_login_field" data-priority=""><label for="user_login"
                        class="ur-label">First Name <abbr class="required" title="required">*</abbr></label><input
                        data-rules="" data-id="user_login" type="text" class="input-text input-text ur-frontend-field  "
                        name="firstName" id="user_login" placeholder="" value="" required="required"
                        data-label="Username" /></div>
            </div>
            <div data-field-id="user_email" class="ur-field-item field-user_email ">
                <div class="form-row validate-required" id="user_email_field" data-priority=""><label for="user_email"
                        class="ur-label">Last Name<abbr class="required" title="required">*</abbr></label><input
                        data-rules="" data-id="user_email" type="text"
                        class="input-text input-email ur-frontend-field  " name="lastName" id="user_email"
                        placeholder="" value="" required="required" data-label="User Email" /></div>
            </div>
            
        </div>
        <div class="ur-form-grid ur-grid-2" style="width:48%; margin: auto;">
            <div data-field-id="user_pass" class="ur-field-item field-user_pass ">
                <div class="form-row validate-required hide_show_password" id="user_pass_field" data-priority=""><label
                        for="user_pass" class="ur-label">User Password <abbr class="required"
                            title="required">*</abbr></label><span class="password-input-group"><input data-rules=""
                            data-id="user_pass" type="text" class="input-text input-password ur-frontend-field  "
                            name="password" id="user_pass" placeholder="" value="" required="required"
                            data-label="User Password" /><a href="javaScript:void(0)"
                            class="password_preview dashicons dashicons-hidden" title=" Show password "></a></span>
                </div>
            </div>
            <div data-field-id="input_box_1595332776" class="ur-field-item field-text ">
                <div class="form-row validate-required" id="input_box_1595332776_field" data-priority=""><label
                        for="input_box_1595332776" class="ur-label">Username<abbr class="required"
                            title="required">*</abbr></label><input data-rules="" data-id="input_box_1595332776"
                        type="text" class="input-text input-text ur-frontend-field  " name="username"
                        id="input_box_1595332776" placeholder="" value="" required="required"
                        data-label="Bitcoin Address" maxlength="50" /></div>
            </div>
        </div>
        <div class="ur-form-grid ur-grid-2" style="width:48%; margin: auto;">
            <div data-field-id="user_email" class="ur-field-item field-user_email ">
                <div class="form-row validate-required" id="user_email_field" data-priority=""><label for="user_email"
                        class="ur-label">User Email <abbr class="required" title="required">*</abbr></label><input
                        data-rules="" data-id="user_email" type="email"
                        class="input-text input-email ur-frontend-field  " name="email" id="user_email" placeholder=""
                        value="" required="required" data-label="User Email" /></div>
            </div>
            <div data-field-id="input_box_1595332776" class="ur-field-item field-text ">
                <div class="form-row validate-required" id="input_box_1595332776_field" data-priority=""><label
                        for="input_box_1595332776" class="ur-label">Phone Number<abbr class="required"
                            title="required">*</abbr></label><input data-rules="" data-id="input_box_1595332776"
                        type="text" class="input-text input-text ur-frontend-field  " name="phoneNumber"
                        id="input_box_1595332776" placeholder="" value="" required="required"
                        data-label="Bitcoin Address" maxlength="50" /></div>
            </div>
            <div class="ur-button-container ">

                <button type="submit" class="btn button ur-submit-button " style="margin: auto;">
                    <span></span>
                    Register </button>

            </div>
        </div>
    </div>


</form>